<script src="/horizon/horizon.js"></script>


<div class="playarea"></div>

<div class="boss"></div>

<div class="front-row-1 character-sprite-ff6 mog"></div>
<div class="front-row-2"></div>
<div class="front-row-3 character-sprite-ff6 shadow"></div>
<div class="front-row-4"></div>
<div class="front-row-5 character-sprite-ff6 edgar"></div>

<div class="back-row-1"></div>
<div class="back-row-2 character-sprite-ff6 setzer"></div>
<div class="back-row-3"></div>
<div class="back-row-4 magus ready_frame1 "></div>
<div class="back-row-5"></div>

<div id="gui-bg">
  <div id="gui" class="left">
    <div id="commands">
      <div ng-repeat="command in commands">
        <div id="command-{{ $index + 1 }}" class="command" ng-click="runCommand(command)">{{command}}</div>
      </div>
    </div>
  </div>
  <div id="gui" class="right">
    <div class="char1 status">{{ char1.name }} <div class="init"></div> <span>{{ char1.hp }} / {{ char1.hptotal}}</span></div>
    <div class="char2 status">{{ char2.name }} <div class="init"></div> <span>{{ char2.hp }} / {{ char2.hptotal}}</span> </div>
    <div class="char3 status">{{ char3.name }} <div class="init"></div> <span>{{ char3.hp }} / {{ char3.hptotal}}</span></div>
    <div class="char4 status">{{ char4.name }} <div class="init"></div> <span>{{ char4.hp }} / {{ char4.hptotal}}</span></div>
    <div class="char5 status">{{ char5.name }} <div class="init"></div> <span>{{ char5.hp }} / {{ char5.hptotal}}</span></div>
  </div>
</div>


