/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';
@portrait: '../assets/images/AllPortraits.png';
@sprite-ff6: '../assets/images/finalfantasy6sheet1.png';
@sprite-ff4: '../assets/images/ff4sprites.png';
@default-gradient: linear-gradient(to bottom, #7878cf 0%,#000233 100%);
@overlay-gradient: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,2,51,0.45) 100%);
@overlay-gradient-reverse: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,2,51,0.45) 100%);
@overlay-gradient-vert: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,2,51,0.45) 100%);

@default-border-gradient: linear-gradient(to bottom, #f2faf5 0%,#555766 100%);

body { 
	background-color: black;
	padding: 25% auto;
	color: #fff !important;
	text-shadow: 1px 2px #000;
	font-size: 24px;
}

.left { width: 40%; float: left }
.right { width: 59.6%; float: left; margin-left: 3px }

.inputarea { width: 37%; position: absolute; left: 15px;  }

#playarea { width: 960px; height: 826px; overflow: hidden; background: @default-gradient }

.bg { 
	width: 960px;
	height: 588px;
	top: 0px;
	left: 0px;
	/* background: url(../assets/images/bgs1.png) -64px -64px; */
	background: url(../assets/images/stage.png);
	z-index: 1;
	position: absolute;
}

.pointer {
	position: absolute;
    z-index: 5;
    left: -200px;
    top: -400px;
    transform: scaleX(-1);
}

.boss { 
    z-index: 2;
    position: absolute;
}

.portrait { width: 112px; height: 96px; float: left; margin: 20px; }
.thin-portrait { float: left; }
.thin-portrait div { width: 120px; height: 400px; margin: 0px 5px; border-radius: 10px; }
.thin-portrait .disabled { filter: grayscale(100%); }
.grey { filter: grayscale(100%) !important; }
.thin-portrait div:hover { border: 3px solid; border-color: @default-border-gradient; }

.gameSelect { overflow: hidden; height: 410px; padding: 0px 10px 10px 40px; }
.gameSelect strong { position: absolute; font-size: 30px; -webkit-text-stroke: 1px black; padding-left: 15px; }
.gameSelect span { position: relative;
    font-size: 20px;
    top: 370px;
    width: 120px;
    text-align: right;
    display: block;
    padding-right: 7px;
    -webkit-text-stroke: .5px black;
    font-weight: bold; 
}

#selectArea { padding-top: 50px; 
	h1 { position: absolute; top: 10px; left: 10px; font-size: 32px; margin: 0px; };
}
#selectAreaOverlay { background: @overlay-gradient; width: 960px; height: 160px; position: fixed; top: 460px; left: 0px; z-index: 3 }

#topAreaOverlay { background: @overlay-gradient-reverse; width: 960px; height: 40px; position: fixed; top: 0px; left: 0px; z-index: 3 }

#sideOverlay { background: @overlay-gradient-vert; width: 50px; height: 826px; position: fixed; top: 0px; left: 910px; z-index: 2 }


#teamOverlay { z-index: 4; position: absolute; top: 620px; left: 0px; width: 960px; height: 207px; background-color: rgba(0,0,0,.75); padding: 25px; }

#teamOverlay .portrait { width: 112px; height: 96px; margin: 25px; float: left; background-color: #fff; border-radius: 5px; box-shadow: 3px 3px 5px #000;  }

#teamOverlay .control { float: right; margin: 40px 20px; }

.fa-check { color: green; font-size: 60px; }
.fa-times { color: red; font-size: 60px; }

#teamOverlay .portrait:hover { border: 1.5px solid; border-color: @default-border-gradient; }

#teamOverlay .fa-check:hover { color: white !important }

#sideAreaOverlayLeft { position: absolute; top: 240px; left: 900px; font-size: 40px; z-index: 10;}
#sideAreaOverlayRight { position: absolute; top: 180px; left: 900px; font-size: 40px; z-index: 10;}
#submitTeam span { font-size: 12px; color: black }

:focus { outline-width: 0px !important} 

.status {
	.init {     
		background: url(../assets/images/init.png);
	    background-size: 1% 10px;
	    background-repeat: no-repeat;
	    border-radius: 8px;
	    border: 1px solid;
	    border-color: #dedede;
	    height: 13px;
	    float: right;
	    width: 33%;
	    margin-left: 15px;
	    margin-top: 10px;
	    background-color: #FFF; 
    } 
	span { float: right; }
}

#gui-bg {
	width: 960px;
	height: 240px;
	position: absolute;
	top: 588px;
	background-color: black;
	padding: 1px;
}

#gui {	
	background: @default-gradient;	
	border-radius: 8px;
	border: 3px solid;
	border-color: @default-border-gradient;
	padding: 10px;
	height: 100%;
}

#statusHolder {  
	border-radius: 8px;
	border: 3px solid;
	border-color: @default-border-gradient;
	padding: 1px;
	height: 99%;
	margin: 2px; 
	width: 70%;
	float: left;
}

#optionsHolder {  
	border-radius: 8px;
	border: 3px solid;
	border-color: @default-border-gradient;
	padding: 1px;
	height: 99%;
	margin: 2px; 
	width: 26%;
	float: left;
}

.status { margin-bottom: 10px }


#PartyScreen { padding: 5px }
.statusBlock { width: 100%; padding: 10px; } 
.statusBlock .status_portrait { width: 112px; height: 96px; float:left; }
.statusBlock strong { font-size: 20px; text-transform: uppercase;}
.statusBlock .stat { font-size: 20px; }
.statusBlock .stat span { color: aqua; }
.statusBlock .back { margin: 0px 30px 0px 40px; }
.statusBlock .front { margin: 0px 70px 0px 0px; }
.clear { clear: both }


#selectedCharacter { color: white; top: -1000px; z-index: 29; position: absolute; left: 0px; font-size: 40px; }
#commands div:hover div::before { content: "› "}

.shownAction { position: absolute; top: 40px; left: 20px; width: 84%; border-radius: 8px;
	border: 3px solid;
	border-color: @default-border-gradient;
	padding: 20px;
	float: left;
	background: @default-gradient;
	color: White;
	z-index: 10;
}


.Cecil { background: url(@sprite-ff4) 2385px 3952px; width: 73px; height: 100px; position: absolute; }
.Rosa { background: url(@sprite-ff4) 2385px 3148px; width: 73px; height: 100px; position: absolute; }
.Rydia { background: url(@sprite-ff4) 2385px 3500px; width: 73px; height: 100px; position: absolute; }
.Cid { background: url(@sprite-ff4) 2385px 2692px; width: 73px; height: 100px; position: absolute; }
.Edge { background: url(@sprite-ff4) 2385px 2576px; width: 73px; height: 100px; position: absolute; }
.Edward { background: url(@sprite-ff4) 2385px 3268px; width: 73px; height: 100px; position: absolute; }
.FuSoYa { background: url(@sprite-ff4) 1785px 2452px; width: 73px; height: 100px; position: absolute; }
.Golbez { background: url(@sprite-ff4) 2385px 2340px; width: 73px; height: 100px; position: absolute; }
.Kain { background: url(@sprite-ff4) 2385px 3728px; width: 73px; height: 100px; position: absolute; }
.PalomPorom { background: url(@sprite-ff4) 2385px 2868px; width: 120px; height: 160px; position: absolute; }
.Tellah { background: url(@sprite-ff4) 2385px 3392px; width: 73px; height: 100px; position: absolute; }
.Yang { background: url(@sprite-ff4) 2385px 3032px; width: 73px; height: 100px; position: absolute; }


.Banon { background: url(@sprite-ff6) 320px 1950px; width: 80px; height: 100px; position: absolute; }
.Celes { background: url(@sprite-ff6) 369px 3444px; width: 80px; height: 100px; position: absolute; }
.Cyan { background: url(@sprite-ff6) 1980px 3418px; width: 80px; height: 100px; position: absolute; }
.Edgar { background: url(@sprite-ff6) 1988px 4210px; width: 80px; height: 100px; position: absolute; }
.Gau { background: url(@sprite-ff6) 460px 2650px; width: 80px; height: 100px; position: absolute; }
.GoGo { background: url(@sprite-ff6) 2820px 1934px; width: 80px; height: 100px; position: absolute; }
.Kefka { background: url(@sprite-ff6) 1263px 1236px; width: 80px; height: 100px; position: absolute; }
.Leo { background: url(@sprite-ff6) 2033px 4836px; width: 80px; height: 100px; position: absolute; }
.Locke { background: url(@sprite-ff6) 2820px 4214px; width: 80px; height: 100px; position: absolute; }
.Mog { background: url(@sprite-ff6) 2024px 1927px; width: 80px; height: 100px; position: absolute; }
.Relm { background: url(@sprite-ff6) 8443px 2631px; width: 80px; height: 100px; position: absolute; }
.Sabin { background: url(@sprite-ff6) 4347px 3435px; width: 80px; height: 100px; position: absolute; }
.Setzer { background: url(@sprite-ff6) 4468px 2656px; width: 80px; height: 100px; position: absolute; }
.Shadow { background: url(@sprite-ff6) 1172px 4230px; width: 80px; height: 100px; position: absolute; }
.Strago { background: url(@sprite-ff6) 2836px 2650px; width: 80px; height: 100px; position: absolute; }
.Terra { background: url(@sprite-ff6) 3587px -137px; width: 80px; height: 100px; position: absolute; }
.Umaro { background: url(@sprite-ff6) 4331px 1935px; width: 80px; height: 100px; position: absolute; }


.Crono { background: url('../assets/images/CronoSprites.png') 1772px 2720px; width: 88px; height: 140px; position: absolute;  }
.Frog { background: url('../assets/images/FrogSprites.png') 1160px 2708px; width: 100px; height: 120px; position: absolute; transform: scaleX(-1); }
.Lucca { background: url('../assets/images/LuccaSprites.png') 1448px 3016px; width: 88px; height: 140px; position: absolute; transform: scaleX(-1); }


@keyframes deathBlow {
    0%  {margin-left: -1px; opacity: 1; css-webkit-filter: hue-rotate(0deg);}
    5%  {margin-left: 1px;}
    10% {margin-left: -1px;}
    15% {margin-left: 1px;}
    20% {margin-left: -1px;}
    25% {margin-left: 1px;}
    30% {margin-left: -1px;}
    35% {margin-left: 1px;}
    40% {margin-left: -1px;}
    45% {margin-left: 1px;}
    50% {margin-left: -1px;}
    55% {margin-left: 1px;}
    60% {margin-left: -1px;}
    65% {margin-left: 1px;}
    70% {margin-left: -1px;}
    75% {margin-left: 1px;}
    80% {margin-left: -1px;}
    85% {margin-left: 1px;}
    90% {margin-left: -1px;}
    95% {margin-left: 1px; }
    100%{margin-left: -100000px; opacity: 0; css-webkit-filter: hue-rotate(180deg);}
}

.deathBlow { animation-name: deathBlow; animation-duration: 4s; animation-fill-mode: forwards; }


@keyframes castingFuSoYa {
	100% { background-position-x: 1858px }
}

.castingFuSoYa { animation: castingFuSoYa .8s steps(2) infinite; }



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
